<a href="https://colab.research.google.com/github/Bryantoropn/Datmin-Naives-Bayes/blob/main/Naives_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("drive/MyDrive/dataset/iris.csv")
df.head()

In [ ]:
inputs = df.drop('variety',axis='columns')
target = df.variety

In [ ]:
inputs.columns[inputs.isna().any()]

0.2

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

1.0

In [ ]:
X_test[0:10]

In [ ]:
y_test[0:10]

14         Setosa
130     Virginica
72     Versicolor
73     Versicolor
138     Virginica
79     Versicolor
15         Setosa
128     Virginica
21         Setosa
125     Virginica
Name: variety, dtype: object

In [ ]:
model.predict(X_test[0:10])

array(['Setosa', 'Virginica', 'Versicolor', 'Versicolor', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Setosa', 'Virginica'],
      dtype='<U10')

In [ ]:
model.predict_proba(X_test[:10])

array([[1.00000000e+000, 9.20137152e-021, 7.71570414e-024],
       [2.05722878e-232, 7.32053383e-007, 9.99999268e-001],
       [3.45577787e-127, 9.15620817e-001, 8.43791830e-002],
       [1.16691147e-100, 9.96694015e-001, 3.30598465e-003],
       [3.58300676e-139, 2.03541922e-001, 7.96458078e-001],
       [3.16045330e-044, 9.99992518e-001, 7.48200496e-006],
       [1.00000000e+000, 6.15706903e-018, 8.54928588e-022],
       [1.73661542e-209, 8.32759651e-006, 9.99991672e-001],
       [1.00000000e+000, 3.76613729e-017, 1.28147323e-021],
       [7.41094693e-216, 7.65349607e-006, 9.99992347e-001]])

0.3

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9555555555555556

In [ ]:
X_test[0:10]

In [ ]:
y_test[0:10]

In [ ]:
model.predict(X_test[0:10])

array(['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Versicolor', 'Virginica',
       'Setosa', 'Versicolor', 'Setosa', 'Versicolor'], dtype='<U10')

In [ ]:
model.predict_proba(X_test[:10])

array([[1.00000000e+000, 4.63520981e-016, 7.70830222e-026],
       [1.00000000e+000, 6.70194196e-018, 5.82663114e-028],
       [1.00000000e+000, 3.84786776e-015, 5.87998905e-025],
       [1.00000000e+000, 6.58618389e-016, 1.03574407e-025],
       [4.51662230e-105, 9.82651983e-001, 1.73480168e-002],
       [7.89366586e-189, 1.34926067e-006, 9.99998651e-001],
       [1.00000000e+000, 1.02333873e-012, 3.62838040e-022],
       [7.41980368e-107, 7.76890802e-001, 2.23109198e-001],
       [1.00000000e+000, 6.52876083e-014, 2.34183321e-023],
       [6.30987206e-119, 9.87080132e-001, 1.29198677e-002]])

0.4

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.4)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9833333333333333

In [ ]:
X_test[0:10]

In [ ]:
y_test[0:10]

In [ ]:
model.predict(X_test[0:10])

array(['Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Versicolor',
       'Setosa', 'Virginica', 'Setosa', 'Virginica', 'Virginica'],
      dtype='<U10')

In [ ]:
model.predict_proba(X_test[:10])

array([[1.16150726e-062, 9.99988446e-001, 1.15536961e-005],
       [2.93590913e-217, 1.42672485e-006, 9.99998573e-001],
       [1.59303426e-096, 9.97313591e-001, 2.68640904e-003],
       [3.09301672e-188, 6.02031421e-004, 9.99397969e-001],
       [7.57203646e-078, 9.99944094e-001, 5.59063640e-005],
       [1.00000000e+000, 5.94417443e-017, 4.86070383e-028],
       [9.72067934e-221, 1.25346636e-006, 9.99998747e-001],
       [1.00000000e+000, 3.58946341e-017, 6.33808651e-028],
       [4.77893315e-265, 3.02933441e-011, 1.00000000e+000],
       [0.00000000e+000, 1.59704568e-012, 1.00000000e+000]])

Beberapa Kolom

In [ ]:
inputs = df.drop(['variety','petal.length'],axis='columns')
target = df.variety
inputs.head()

   sepal.length  sepal.width  petal.width
0           5.1          3.5          0.2
1           4.9          3.0          0.2
2           4.7          3.2          0.2
3           4.6          3.1          0.2
4           5.0          3.6          0.2

0.2

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9

In [ ]:
X_test[0:10]

In [ ]:
y_test[0:10]

In [ ]:
model.predict(X_test[0:10])

In [ ]:
model.predict_proba(X_test[:10])

0.3

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9777777777777777

In [ ]:
X_test[0:10]

In [ ]:
y_test[0:10]

In [ ]:
model.predict(X_test[0:10])

In [ ]:
model.predict_proba(X_test[:10])

0.4

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.4)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.95

In [ ]:
X_test[0:10]

In [ ]:
y_test[0:10]

In [ ]:
model.predict(X_test[0:10])

In [ ]:
model.predict_proba(X_test[:10])

ADULT

In [ ]:
import pandas as pd
df = pd.read_csv("drive/MyDrive/dataset/adult.csv")
df.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18          ?  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

In [ ]:
inputs = df.drop(['workclass','fnlwgt','education','marital-status','occupation','relationship','race','native-country'],axis='columns',inplace=True)
inputs = df.drop('income',axis='columns')
target = df.income
inputs.head()

   age  educational-num  gender  capital-gain  capital-loss  hours-per-week
0   25                7    Male             0             0              40
1   38                9    Male             0             0              50
2   28               12    Male             0             0              40
3   44               10    Male          7688             0              40
4   18               10  Female             0             0              30

In [ ]:
dummies = pd.get_dummies(inputs.gender)
dummies.head()

   Female  Male
0       0     1
1       0     1
2       0     1
3       0     1
4       1     0

In [ ]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   age  educational-num gender  ...  hours-per-week  Female  Male
0   25                7   Male  ...              40       0     1
1   38                9   Male  ...              50       0     1
2   28               12   Male  ...              40       0     1

[3 rows x 8 columns]

In [ ]:
inputs.drop(['gender','Male'],axis='columns',inplace=True)
inputs.head(3)

   age  educational-num  capital-gain  capital-loss  hours-per-week  Female
0   25                7             0             0              40       0
1   38                9             0             0              50       0
2   28               12             0             0              40       0

In [ ]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

0.2

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7947589313133381

In [ ]:
X_test[0:10]

       age  educational-num  capital-gain  capital-loss  hours-per-week  Female
11961   22               10             0             0              10       0
33326   60               10             0             0              40       0
37818   51                9             0             0              40       0
33627   70               10             0          2246              40       0
30452   34                9             0             0              45       0
40372   25               13          3325             0              40       1
43296   24               13             0             0              40       0
25104   32                9             0             0              90       0
18612   32               11             0             0              40       0
47344   57               10             0             0              25       0

In [ ]:
y_test[0:10]

11961    <=50K
33326    <=50K
37818    <=50K
33627     >50K
30452    <=50K
40372    <=50K
43296    <=50K
25104    <=50K
18612    <=50K
47344    <=50K
Name: income, dtype: object

In [ ]:
model.predict(X_test[0:10])

array(['<=50K', '<=50K', '<=50K', '>50K', '<=50K', '>50K', '<=50K',
       '<=50K', '<=50K', '<=50K'], dtype='<U5')

In [ ]:
model.predict_proba(X_test[:10])

array([[9.99720362e-01, 2.79638182e-04],
       [9.80594120e-01, 1.94058801e-02],
       [9.85243808e-01, 1.47561924e-02],
       [1.16306337e-06, 9.99998837e-01],
       [9.91022471e-01, 8.97752897e-03],
       [3.05355405e-01, 6.94644595e-01],
       [9.89782287e-01, 1.02177134e-02],
       [9.90413066e-01, 9.58693396e-03],
       [9.88089190e-01, 1.19108095e-02],
       [9.92238640e-01, 7.76135990e-03]])

0.3

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7958097317955367

In [ ]:
X_test[0:10]

       age  educational-num  capital-gain  capital-loss  hours-per-week  Female
26174   30                9             0             0              40       0
691     39                9             0             0              40       1
31006   65               13         10605             0              40       0
43902   19               10             0             0              12       1
9354    36               13             0             0              50       1
24879   20                9             0             0              45       0
5467    54               14             0             0              40       0
13523   32               13             0             0              40       1
22936   35               10             0             0              50       0
29169   33               11             0             0              62       0

In [ ]:
y_test[0:10]

26174    <=50K
691      <=50K
31006     >50K
43902    <=50K
9354     <=50K
24879    <=50K
5467      >50K
13523     >50K
22936     >50K
29169    <=50K
Name: income, dtype: object

In [ ]:
model.predict(X_test[0:10])

array(['<=50K', '<=50K', '>50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K'], dtype='<U5')

In [ ]:
model.predict_proba(X_test[:10])

array([[9.94403264e-01, 5.59673584e-03],
       [9.97668875e-01, 2.33112519e-03],
       [8.30319928e-25, 1.00000000e+00],
       [9.99942933e-01, 5.70668308e-05],
       [9.88659355e-01, 1.13406455e-02],
       [9.97684860e-01, 2.31513965e-03],
       [9.17872260e-01, 8.21277402e-02],
       [9.94634157e-01, 5.36584274e-03],
       [9.81510825e-01, 1.84891754e-02],
       [9.69888099e-01, 3.01119013e-02]])

0.4

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.4)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.795720939755336

In [ ]:
X_test[0:10]

In [ ]:
y_test[0:10]

In [ ]:
model.predict(X_test[0:10])

array(['>50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '>50K',
       '<=50K', '<=50K', '>50K'], dtype='<U5')

In [ ]:
model.predict_proba(X_test[:10])

array([[1.09312678e-02, 9.89068732e-01],
       [9.91049310e-01, 8.95069010e-03],
       [9.97922851e-01, 2.07714864e-03],
       [9.99277855e-01, 7.22144922e-04],
       [9.98733344e-01, 1.26665589e-03],
       [9.99771512e-01, 2.28488384e-04],
       [3.40949852e-04, 9.99659050e-01],
       [9.97261539e-01, 2.73846113e-03],
       [9.97923562e-01, 2.07643848e-03],
       [2.01883597e-03, 9.97981164e-01]])

Beberapa Kolom

In [ ]:
import pandas as pd
df = pd.read_csv("drive/MyDrive/dataset/adult.csv")
df.head()

In [ ]:
inputs = df.drop(['workclass','fnlwgt','education','educational-num','marital-status','occupation','relationship','capital-loss','race','native-country'],axis='columns',inplace=True)
inputs = df.drop('income',axis='columns')
target = df.income
inputs.head()

   age  gender  capital-gain  hours-per-week
0   25    Male             0              40
1   38    Male             0              50
2   28    Male             0              40
3   44    Male          7688              40
4   18  Female             0              30

In [ ]:
dummies = pd.get_dummies(inputs.gender)
dummies.head()

   Female  Male
0       0     1
1       0     1
2       0     1
3       0     1
4       1     0

In [ ]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

In [ ]:
inputs.drop(['gender','Male'],axis='columns',inplace=True)
inputs.head(3)

   age  capital-gain  hours-per-week  Female
0   25             0              40       0
1   38             0              50       0
2   28             0              40       0

In [ ]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

0.2

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7942471081994062

In [ ]:
X_test[0:10]

In [ ]:
y_test[0:10]

In [ ]:
model.predict(X_test[0:10])

0.3

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7915102709342797

In [ ]:
X_test[0:10]

In [ ]:
y_test[0:10]

In [ ]:
model.predict(X_test[0:10])

In [ ]:
model.predict_proba(X_test[:10])

0.4

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.4)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7911142959512719

In [ ]:
X_test[0:10]

In [ ]:
y_test[0:10]

In [ ]:
model.predict(X_test[0:10])

In [ ]:
model.predict_proba(X_test[:10])